h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-div {
    margin-top: 4em;
}

.input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

.input::placeholder {
    color: rgb(34, 139, 34, 0.4);
}

input.check {
    accent-color: rgb(34, 139, 34, 0.4);
}

input.check[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin-top: 3em;
}

ul>li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}

.ajouter {
    background-color: #2E6F40;
    border: 1px solid #2E6F40;
}

.supprimer {
    background-color: #863030;
    border: 1px solid #863030;
    margin-left: 20px;
}

.task-added-prompt {
    z-index: 10;
    display: none;
    background-color: rgb(34, 139, 34, 0.2);
    border: 1px solid #2E6F40;
    border-radius: 25px;
    width: 25%;
    padding: 5em;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.task-deleted-prompt {
    z-index: 10;
    display: none;
    background-color: rgb(134, 48, 48, 0.2);
    border: 1px solid #863030;
    border-radius: 25px;
    width: 25%;
    padding: 5em;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prompt>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.prompt>.icon {
    position: absolute;
    right: 13px;
    bottom: 180px;
}

.prompt .icon>.fa-xmark:hover {
    color: #863030;
    cursor: pointer;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
}